:root {
    --primary: #5360d3;
}

.sidebar-dark-primary {
    background-color: #111118 !important; 
}

.sidebar-dark-primary .nav-sidebar .nav-item .nav-link.active {
    background-color: #5360d3 !important;
}

.sidebar-dark-primary .nav-sidebar .nav-link:hover {
    background-color: #2e2e45 !important;
}

.navbar-dark.navbar-primary {
    background-color: #1d1d29 !important;
    border-bottom: 1px solid #454558;
}

.brand-link {
    background-color: #111118 !important;
    border-bottom: 1px solid #454558 !important;
}

.brand-link .brand-text {
    color: #5360d3 !important;
    font-weight: 800;
}

#recent-actions-module {
    display: none !important;
}

.img-circle {
    display: none !important;
}

.btn-success {
    background-color: #317656;
    border: none;
}

.btn-secondary {
    border: none;
    background-color: #5360d3;
}

.btn-info {
    border: none;
    background-color: #315876;
}

.btn-danger {
    border: none;
    background-color: #763331;
}

.breadcrumb-item.active {
    border: none;
    color: #eeebeb;
}