{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}EduPlatform{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block extra_css %}{% endblock %}

    <script src="{% static 'htmx/htmx.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</head>

<body>

    <!-- === NAVBAR === -->
    {% include "includes/navbar.html" %}

    <!-- === MESSAGES === -->
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="message message-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- === CONTENT === -->
    <main class="main">
        {% block content %}
        {% endblock %}
    </main>

    <!-- === FOOTER === -->
    {%include "includes/footer.html" %}

    {% block extra_js %}{% endblock %}

</body>
</html>